html
  head
    title Ratnesh Joshi
    block scripts
    block style 
        style 
            include  ../static/css/style.css

  body
    block navigation 
    block content
    footer#footer.container.center Made in ❤ || Ratnesh Joshi